﻿@using TodoApp.Helper;
@using TodoApp.DAL;
@model Todo

@using(Html.Tr(Model.Progress, Model.Priority))
{
    <td>@Model.Create.ToShortDateString()</td>
    <td>@Html.EnumLabelFor(model => model.Priority, htmlAttributes: new { })</td>
    <td>
        <div class="progress">
            @Html.ProgressBarFor(model => model.Progress, Model.Priority, new { })
        </div>
    </td>
    <td>@Model.User.UserName</td>
    <td>@Model.Title</td>
    <!-- Begin tooling for manage todo -->
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options <span class="glyphicon glyphicon-wrench"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Details", new { id = Model.Id })">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="false"></span> Voir
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Edit", new { id = Model.Id })">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span> Modifier
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", new { id = Model.Id })">
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span> Supprimer
                        </a>
                    </li>
                    if (Model.Completed == false)
                    {
                        <li>
                            <a href="@Url.Action("Completed", new { id = Model.Id })">
                                <span class="glyphicon glyphicon-check" aria-hidden="false"></span> Terminer
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </td>
    <!-- End tooling for manage todo -->
}
