﻿@model TodoApp.DAL.Todo
@{
    ViewBag.Title = "Supprimer toute les tâches";
}

<p class="text-danger">Voulez-vous vraiment tous supprimer?</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-danger" value="Oui" />
        @Html.ActionLink("Non", "Index", new { }, new { @class = "btn btn-success" })
    </p>
}