﻿@using TodoApp.DAL
@using TodoApp.Helper
@model TodoApp.ViewModels.TodoViewModels.CreateViewModel
@{
    ViewBag.Title = "Ajouter une tâche";
}

<div class="col-md-offset-3 col-md-6 col-md-offset-3">

    <div class="form-horizontal">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
                
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
            </div>

            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.Priority, new { @class = "btn btn-default" })
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Ajouter" />
                @Html.ActionLink("Annuler", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
