﻿@model TodoApp.DAL.Todo
@{
    ViewBag.Title = "Supprimer la tâche";
}

<p>Voulez-vous vraiment supprimer cette tâche?</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn btn-danger" value="Oui" />
        @Html.ActionLink("Non", "Index", new { }, new { @class = "btn btn-success" })
    </p>
}