﻿@using TodoApp.DAL
@using TodoApp.Helper
@model TodoApp.DAL.Todo
@{
    ViewBag.Title = Model.Title;
}

<div class="col-md-12">
    
    <p>Crée le @Model.Create.ToUniversalTime() par @Model.User.UserName</p>
    <hr />

    <h3>Description</h3>
    <p>@Html.RawLine(Model.Text)</p>
    <hr />

    <h3>Progression</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                <div class="progress">
                    @Html.ProgressBar(Model.Progress, Model.Priority)
                </div>
            </div>
        </div>
    </div>
    <hr />

    <h3>Timeline</h3>
    <div class="row">
        @{ Html.RenderAction("Details", "Timeline", new { id = Model.Id }); }
    </div>
    <hr />

    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderAction("Create", "Timeline", new { id = Model.Id });
    }
    else
    {
        <h3 class="text-danger">Connectez-vous pour ajouter une entrée.</h3>
        <p>Cliquer @Html.ActionLink("ici", "Login", "Account") pour vous connecter.</p>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
