﻿@using TodoApp.DAL
@using TodoApp.Helper
@model TodoApp.ViewModels.TodoViewModels.EditViewModel
@{
    ViewBag.Title = "Modifier la tâche";
}

<div class="col-md-offset-3 col-md-6 col-md-offset-3">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
        <div class="form-horizontal">

            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
                
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
            </div>
                
            @Html.LabelFor(model => model.Progress, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextBoxFor(model => model.Progress, new { @class = "form-control" })
            </div>

            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.EnumDropDownListFor(model => model.Priority, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Modifier" />
                @Html.ActionLink("Annuler", "Index", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
