﻿@model IEnumerable<TodoApp.DAL.Todo>
@{
    ViewBag.Title = "Liste de Tâches";
}

<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <td class="col-md-1">Date</td>
                <td class="col-md-1">Priorité</td>
                <td class="col-md-1">Progression</td>
                <td class="col-md-2">Auteur</td>
                <td class="col-md-6">Titre</td>
                <td class="col-md-1"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                @Html.Partial("_RowPartial", item)
            }
        </tbody>
    </table>
</div>