﻿@using TodoApp.DAL
@using TodoApp.Helper
@model TodoApp.ViewModels.TimelineViewModels.CreateViewModel

<h3>Ajouter une entrée</h3>
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <div class="form-horizontal">
            @using (Html.BeginForm("Create", "Timeline", new { id = ViewBag.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                     @Html.EnumDropDownListFor(model => model.Type, new { @class = "btn btn-default" })
                </div>
        
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
                <div class="form-group">
                     @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Ajouter" />
                </div>
            }
        </div>
    </div>
</div>