﻿@using TodoApp.Helper
@using System.Collections.Generic
@model List<TodoApp.DAL.Timeline>

<ul class="timeline">
    @for (int i = 0; i < Model.Count(); i++) {
        
        <li class="@(i % 2 == 0 ? "" : "timeline-inverted")">
            @Html.Badge(Model[i])
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">@Model[i].User.UserName</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @Model[i].Date.ToUniversalTime()</small></p>
                </div>
                <div class="timeline-body">
                    <p>@Html.RawLine(Model[i].Text)</p>
                </div>
            </div>
        </li>     
    }
</ul>