﻿@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @User.Identity.Name
            <b class="caret"></b> 
        </a>
            
        <ul class="dropdown-menu">
                <li>@Html.ActionLink("Changer de mot de passe", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Gérer" })</li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                            }
                    <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                </li>
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink("Connexion", "Login", "Account")</li>
    <li>@Html.ActionLink("S'incrire", "Register", "Account")</li>
}