﻿@model TodoApp.ViewModels.AccountViewModels.LoginViewModel

@{
    ViewBag.Title = "Se connecter";
}

<div class="col-md-offset-3 col-md-6 col-md-offset-3">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>

            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Connexion" />
            </div>

        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
