﻿@model TodoApp.ViewModels.AccountViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Modifier le mot de passe";
}

<div class="col-md-offset-4 col-md-4 col-md-offset-4">
    <p class="message-success">@ViewBag.StatusMessage</p>

    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        
        <div class="form-horizontal">

            @Html.LabelFor(m => m.OldPassword)
            <div class="form-group">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>

            @Html.LabelFor(m => m.NewPassword)
            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>

            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Modifier le mot de passe" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
