﻿@model TodoApp.ViewModels.AccountViewModels.RegisterViewModel
@{
    ViewBag.Title = "S'inscrire";
}

<div class="col-md-offset-3 col-md-6 col-md-offset-3">

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
        <div class="form-horizontal">
        
            @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>

            @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        
            @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="S'inscrire" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
